@import "bourbon/bourbon";
@import "variables";


img {
    max-height: 100%;
    max-width: 100%;
}

html {
    font-size: $text-size;
}

body {
    font-family: $sans;
    line-height: $line-height;
    color: $main_fg;
    background: $main_bg;
}

a {
    @include transition(all 0.5s ease-in);

    &:hover {
        @include transition(all 0.3s ease-out);
    }
}
