img {
    max-height: 100%;
    max-width: 100%;
}

html {
    font-size: $text-size;
}

body {
    font-family: $sans;
    line-height: $line-height;
    color: $main_fg;
    background: $main_bg;
}
