@import "bourbon/bourbon";
@import "variables";

.page_footer {
    min-height: 25vh;
    background: $footer_bg;
    color: $footer_fg;
    width: 100%;
    font-size: modular-scale(1);
    padding-bottom: modular-scale(2);

    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(center);

    a, a:visited {
        color: $footer_link;

        &:hover, &:active {
            color: $footer_link_hover;
        }
    }

    .footer_block {
        @include flex(1 0 modular-scale(14));
        text-align: center;
        padding-bottom: modular-scale(2);
    }

    .section-title {
        display: inline-block;
        line-height: 1;
        width: 100%;
        margin-top: 0;
        padding: 0.55em 0 0.5em;
        border-bottom: 3px solid $footer_header_border;
        background: $footer_header_bg;
        font: {
            size: modular-scale(2);
            weight: normal;
            family: $special;
        }
    }

    .footer_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
