@import "bourbon/bourbon";
@import "variables";

$nav_main_height: modular-scale(1);
$nav_vertical_padding: modular-scale(-1);
$nav_height: $nav_main_height + 2 * $nav_vertical_padding;

.main_nav {
    width: 100%;
    padding: 0;
    margin: 0;
    background: $nav_bg;
    color: $nav_fg;

    .items_list {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .nav_item {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        overflow: hidden;

        a {
            color: $nav_fg;
            text-decoration: none;
            display: block;
            vertical-align: middle;
            height: $nav_main_height;
            line-height: $nav_main_height;
            margin: 0;
            padding: $nav_vertical_padding modular-scale(-1);

            &:hover,
            &:active {
                color: $nav_hover_fg;
                background: $nav_hover_bg;
                text-decoration: none;
            }
        }

    }
}

// Styles for hiding and showing the home icon.
.nav_logo {
    width: 3 * $nav_main_height;
    @include transition(all 0.5s ease);

    &.hidden {
        width: 0;
        padding: 0;
        @include transition(all 0.3s ease);
    }
}

.nav_logo_img {
    max-height: $nav_main_height;
    max-width: $nav_main_height;
}
