/* Define the style settings for your variation on the theme. */

// Typographical stack
$serif: Georgia, serif;
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$special: Flux, "Source Code Pro", "Consolas", monospace;

// Base colors, which can be reused throughout
$prim: RGBA(244, 230, 242, 1);
$cameo: RGBA(206, 158, 133, 1);
$purple_mountain_majesty: RGBA(153, 128, 190, 1);
$dorado: RGBA(111, 88, 83, 1);
$onyx: RGBA(20, 19, 14, 1);
$desert_storm: RGBA(250, 250, 248, 1);

// Applying the colors to the theme
$main_bg: $desert_storm;
$main_fg: $onyx;
$main_link: $purple_mountain_majesty;
$main_link_hover: $cameo;

$nav_bg: $dorado;
$nav_fg: $prim;
$nav_hover_bg: $prim;
$nav_hover_fg: $purple_mountain_majesty;

$header_bg: $prim;

$footer_bg: $purple_mountain_majesty;
$footer_fg: $prim;
$footer_link: $dorado;
$footer_link_hover: $prim;

// Base text size -- defaults to 16px. Set on the `html` element.
$text-size: 100%;
$line-height: 1.5;

// Set up the modular scale
$modular-scale-ratio: $golden;
$modular-scale-base: 1em;
