/* Define the style settings for your variation on the theme. */
@import "bourbon/bourbon";

// Typographical stack
$serif: Georgia, serif;
$sans: "Source Sans Pro", Helvetica, Arial, sans-serif;
$special: Flux, "Source Code Pro", "Consolas", monospace;

// Base colors, which can be reused throughout
$prim: rgb(244, 230, 242);
$cameo: rgb(206, 158, 133);
$purple_mountain_majesty: rgb(153, 128, 190);
$dorado: rgb(111, 88, 83);
$onyx: rgb(20, 19, 14);
$desert_storm: rgb(250, 250, 248);

// Apply the colors to the theme.
$main_bg: $desert_storm;
$main_fg: $onyx;
$main_heading: $dorado;
$main_link: $purple_mountain_majesty;
$main_link_hover: $cameo;

$nav_bg: $dorado;
$nav_fg: $prim;
$nav_hover_bg: $prim;
$nav_hover_fg: $purple_mountain_majesty;

$header_bg: $desert_storm;
$header_fg: $dorado;
$header_link: $purple_mountain_majesty;
$header_link_hover: $purple_mountain_majesty;
$subheader_link: $cameo;
$subheader_link_hover: $cameo;
$header_shadow: $onyx;

$footer_header_bg: $dorado;
$footer_header_border: $cameo;
$footer_bg: $purple_mountain_majesty;
$footer_fg: $desert_storm;
$footer_link: $prim;
$footer_link_hover: $desert_storm;
$footer_border: $dorado;

// Base text size -- defaults to 16px. Set on the `html` element.
$text-size: 100%;
$line-height: 1.5;

// Set up the modular scale, using a perfect fifth for the scale and a major
// third for the threads. 🎶Sap.py🎶
$modular-scale-ratio: $perfect-fifth;
$modular-scale-base: 1em 1.25em;
