<!doctype html>
<head>
  <title>{% block head_title %}{% endblock %}</title>
  {# Common metadata #}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  {% for link in IDENTITY %}
  <link rel="me" href="{{ IDENTITY[link] }}">
  {% endfor %}
  {% include "includes/meta.html" %}
  {# Allow item-specific metadata #}
  {% block item_meta %}{% endblock %}
  {# Common styles #}
  <link rel="stylesheet" href="/css/main.css" media="screen" title="main" charset="utf-8">
  {# Allow item-specific styles #}
  {% block item_styles %}{% endblock %}
  {# Common scripts #}
  {# Allow item-specific scripts #}
  {% block item_scripts %}{% endblock %}
</head>
<body>
  <nav class="main_nav">
    <ul>
      <li class="nav_item nav_logo"><img src="{{ NAV_LOGO_IMG }}" class="nav_logo_img" style="max-width: 64px; max-height: 64px"></li>
      {% for page in pages %}
        <li class="nav_item"><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <header>
    <h1><a href="/">
      <img src="{{ HEADER_LOGO_IMG }}">
      <span class="sitename{% if HEADER_USE_LOGO_ONLY %} disabled{% endif %}">{{ SITENAME }}</span>
    </a></h1>
    <h2>{{ SUBTITLE }}</h2>
  </header>
  <div id="episodes">
    {% block content %}{% endblock %}
  </div>
  <footer>
  </footer>
</body>
