{% if item is defined %}
  <meta property="og:url" content="{{ SITEURL }}{{ item.url }}"/>
  <meta property="og:title" content="{{ item.title|striptags }}"/>
  <meta property="og:description" content="{{ item.summary|striptags }}"/>
{% if item.image is defined %}
  <meta property="og:image" content="{{ item.image }}"/>
{% else %}
  <meta property="og:image" content="{{ SITEURL }}{{ NAV_LOGO_IMG }}"/>
{% endif %}
{% else %}
  <meta property="og:url" content="{{ SITEURL }}"/>
  <meta property="og:title" content="{{ SITENAME }}"/>
  <meta property="og:description" content="{{ SUBTITLE }}"/>
  <meta property="og:image" content="{{ SITEURL }}{{ NAV_LOGO_IMG }}"/>
{% endif %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@sappypodcast"/>
  <meta name="twitter:creator" content="@chriskrycho"/>
{% if item is defined %}
  <meta name="twitter:title" content="{{ item.title|striptags }}"/>
  <meta name="twitter:description" content="{{ item.summary|striptags }}"/>
{% if item.image is defined %}
  <meta name="twitter:image" content="{{ item.image }}"/>
{% else %}
  <meta name="twitter:image" content="{{ SITEURL }}{{ NAV_LOGO_IMG }}"/>
{% endif %}
{% else %}
  <meta name="twitter:title" content="{{ SITENAME }}"/>
  <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}"/>
  <meta name="twitter:image" content="{{ SITEURL }}{{ NAV_LOGO_IMG }}"/>
{% endif %}
